.dashboard-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
}

.icon {
  font-size: 20px;
  margin-bottom: 00px;
}

/* .task-cards {
  background-color: #0e45b3;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  padding: 10px;
  width: 150px; /* Adjust the width as desired */
/* height: 200px; /* Adjust the height as desired */
/* margin: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
/*} */
.icon-container {
  padding-left: 30%;
  display: flex;
  align-items: center; /* Align items vertically center */
}

/* Additional styling for icon */
.icon {
  margin-right: 10px; /* Adjust as needed */
}

.drop-area {
  /* Center the drop area horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Define styles for the drop target area */
  /* For example, you can set a background color, padding, border, etc. */
  background-color: rgb(112, 58, 112);
  padding: 10px;
  border: 2px dashed rgb(112, 58, 112);
  border-radius: 5px;
  /* Move the drop area to the right */
  margin-left: auto; /* This pushes the drop area to the right */
}

.add-item-button {
  background-color: rgb(112, 58, 112);
  color: #fff;
  border: none;
  padding: 3px 8px; /* Reduced padding */
  border-radius: 5px;
  cursor: pointer;
}
.app_boards_container {
  background-color: rgb(
    246,
    238,
    246
  ); /* Adjust the background color as needed */
}
